* {   
    
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    padding: 0px;
    margin: 0px;
}
body{
    background-color: green;
}
.title{
  font-family: 'Quicksand',
  sans-serif;
  /* letter-spacing: 1px; */
  height: 16px;
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  text-align: center;
  text-transform: capitalize;
}
.bgF7F7F7{
    background-color: #F7F7F7 !important;
}
.dFlex{
     display: flex;
     align-items: center;
     justify-content: center;
}
.container { 
   
    background: #F7F7F7;
    border-radius: 15px 15px 0px 0px;
}
.cardHeader{
    width: 100%;
    height: 40px;
    background-color: #E8E8E8;
    display: flex;
    align-items: center;
}
.cardHeaderPlus{
        border-radius: 0px 5px 5px 0px;
        width: 28px;
        height: 28px;
        background: #595959;
        border: none;
        color: #F7F7F7;
}

.titleAcar{
        position: absolute;
        top: 13px;
        right: 24px;
        color: #595959;
}

.photoContainer { 
    position: -webkit-sticky;
    position: sticky;
    top: 20px;  
    width: 25%;
    height: 582px;
    margin: 0px 0px 12px 0px;
}
.photoContainer img{
      width: 100%;
      height: 100%;
      object-fit: fill;
}
.cartContainer {
     overflow: scroll;
    width: 75%;    
    margin: 0px 0px 12px 0px;
    background: #E8E8E8;
}
.cardheader {
    background-color: #F7F7F7;
    overflow: hidden;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 45px;   
}
.cardTitle {   
    font-size: 20px; 
    display: flex;
    justify-content: center;
    align-items: center;
    color: #E01E37;
    width: 160px;
    height: 100%;          
}
.cardBody {       
    width: 100% ;
    height: 22px;
}
.tableTitle{
    background-color: #F7F7F7;
    border: none;
    width: 100%;
}
.tableTitle_title{
padding: 0px 5px 0px 5px;
width: 150px;
height: 25px;
display: flex;
justify-content: space-between;
background-color: #E01E37;
}
.tableTitle_sira{
    width: 25px;
    height: 25px;
    background-color: #595959;
}
.tablePlusIcon{  
    width: 25px;
    height: 25px; 
    color: #595959;   
    position: absolute;
    right: 0px;
    top: 0px;
    border: none;
    background: none;
}
.tablePlusIconclick{
   background-color: #595959;
   color: #F7F7F7;
}
.tableCon{
    min-height: 45px;
    background-color: #F7F7F7;
}
.buttontable{
    width: 25px;
    height: 10px;
    background: none;
    border: none;
}
.titleTbody{
    display: flex;
    justify-content: start;
    align-items: center;
    height: 20px;
    width: 100%;
}
.titleTbodyCheck {
     width: 25px;
     height: 25px; 
}
.titleTbodyCheck input{
    width: 9px;
}
.titleTbodyText {
   margin-left: 5px;
   height: 100%;
   display: flex;
   align-items: center; 
   font-size: 12px;  
   line-height: 15px;
   color: #595959;
}
#addInput{
    border: none;
    font-size: 12px;
    font-family: 'Quicksand',
    sans-serif;
    padding: 5px;
    height: 20px;
    margin: auto;
    margin-bottom:5px;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.25);
    background: #FFFFFF;
    border-radius: 5px;
    width: 95%;
}
.tableEndInp{   
    border: none;
    font-size: 12px;
    font-family: 'Quicksand',
     sans-serif;
    padding: 5px;
    height: 20px;
    margin-top: 5px;
    margin-right: 5px;
    margin-bottom: 5px;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.25);
    background: #FFFFFF;
    border-radius: 5px;
    width: 95%;
}
.tableEndInpChild{
  border: none;
 font-size: 12px;
 font-family: 'Quicksand',
 sans-serif;
 padding: 5px;
 height: 20px;
 margin-right: 5px;
 box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.25);
 background: #FFFFFF;
 border-radius: 5px;
 width: 93%;
}
.impusChildDiv{
        width: 97%;
        margin-left: 25px;
        
       
}
.descSortArrow{
     height: 15px;
     width: 15px;
     display: flex;
     justify-content: center;
     border-radius: 2px;
    align-items: center;
}
.descSortArrow i{
    visibility: hidden;
    font-size: 10px;
}
.titleTbody:hover .descSortArrow i{
    visibility: visible;
}

.descSortArrow:hover{
    background: #E01E37;
    box-shadow: 0px 0px 2px #E01E37;
    color: white;
}

.ipsumDragIcon{

    display: flex;
}